<h1>Search a Flight</h1>

<%= form_tag('/', method: 'get') do %>
  <%= label_tag :from %> 
  <%= select_tag :from, options_for_select(@airports) %>

  <%= label_tag :to %> 
  <%= select_tag :to, options_for_select(@airports) %>

  <%= label_tag :passengers %> 
  <%= select_tag :passengers, options_for_select(@passengers) %>

  <%= label_tag :date %> 
  <%= select_tag :date, options_for_select(@dates) %>

  <%= submit_tag "Search flights" %>
<% end %>

<% unless @flights.empty? %>
  <%= form_tag('/', method: 'get') do %>
    <% @flights.each_with_index do |flight, index| %>
      <% if index == 0 %>
        <%= radio_button_tag(:flight, flight.id, checked: true) %>  
      <% else %>
        <%= radio_button_tag(:flight, flight.id) %>  
      <% end %>
      <%= label_tag :flight, "Fly from #{flight.origin.code} to #{flight.destination.code}" %>
      <br>
    <% end %>
    <%= hidden_field_tag :passengers, @count %> 
    <%= submit_tag "Choose flight" %>
  <% end %>
<% end %>